{% extends "blog/base.html" %}

{% block content %}
<pre>     
</pre>
        <h2 class='title'><b>{{post.title}}</b></h2>
        <small>Posted at {{post.date_added}}</small>
        <p><strong>{{post.intro}}</strong></p>
        <pre> <p>{{post.body}}</p></pre>
        
        <hr>
        
        <h2 class='subtitle'>Comments</h2>

        {% for comment in post.comments.all %}
            <article class='media'>
                <div class='media-content'>
                    <div class='content'>
                        <p>
                            <b>{{comment.name}}</b>
                            <br>
                            <small>{{comment.date_added}}</small>
                            <br>
                            {{comment.body}}
                        </p>
                    </div>   
                </div>
            </article>

        {% empty %}
            <div class='notification'>
                <p>No Comments</p>
            </div>
        {% endfor %}
        
        <hr>

        <h2 class='subtitle'>Add Comment</h2>
        <form method='post' action='.'>
            {% csrf_token %}
            
            {{form.as_p}}

            <div class='field'>
                <div class='control'>
                    <button class='button is-button'>Submit</button>
                </div>
            </div>
        </form>
    
{% endblock content %}